@model IEnumerable<Domain.Poll>

<h2>All Polls</h2>

<a href="/Poll/Create">Create New Poll</a>

<ul>
    @foreach (var poll in Model)
    {
        <li>
            <strong>@poll.Title</strong> - @poll.DateCreated.ToShortDateString()
            <a asp-action="Vote" asp-route-id="@poll.Id">Vote</a>
        </li>
    }
</ul>
